# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
venv/
env/
ENV/
env.bak/
venv.bak/

# Django-specific
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
*.sqlite

# Django migrations folder
*/migrations/
*/migrations/*.pyc

# FastAPI-specific
*.db
*.sqlite3

# IDE / Editor specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Coverage directory used by tools like coverage.py
.coverage
.coverage.*
*.coveragerc

# pyenv
.python-version

# pipenv
Pipfile.lock

# dotenv
.env
.env.*

# mypy
.mypy_cache/
.dmyp
